body{
  padding: 0;
  margin: 0;
}

.html, div, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, .row, .col, div, a, .container-fluid{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  
}

.half{
  height: 100vh;
  width: 45%;
  float: left;
  background-color: #5735d2;
}

.image{
  height: 100vh;
  width: 55%;
  float: left;
  background-image: url(./assets/half-illustration.jpg);
  background-size: cover;
  background-position:center;  
}

.logo-container{
  margin: auto;
  width: 40%;
  margin-top: 200px;
  
  min-height: 75px;
  height: auto;
  background-image: url(./assets/chatterbox-05.png);
  background-size: cover;
  background-position:center;  
}
/*
.logo{
  padding: 5px;
  width: 100%;
  height: auto;
  background-image: url(../assets/chatterbox-05.png);
  background-size: cover;
  background-position:center;  
  overflow:auto;
}*/

.half h3{
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 80px;
}

.row{
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
}

.half input{
  width: 96%;
  border: none;
  padding: 7px;
}

::placeholder{
  color: #5735d2;
}

.half p{
  color: white;
  width: 100%;
  text-align: center;
}

#button{
width: 30%;
height: auto;
background-color: #fc963a;
padding: 10px;
color: white;
border-radius: 50px;
margin-left: 36%;
}
